

<ul class="uk-breadcrumb" style="margin: 2%;">


  <li><a href="home">Home</a></li>
  <li><a href=""></a>Product Details</li>
  <li><span></span></li>
</ul>
<div class="uk-card uk-card-default uk-card-body" style="margin: 4%;">
<div class="row" style="width: 85%;
/* text-align: center; */
margin-left: 6%;">
  <div class="col-5 menu">
    
      <img src="{{p_image}}">
      <div style="text-align: center">
     
      </div> 
      
  </div>

  <div class="col-7">
    
     <div>
       <p style="font-family: Bitter;
       font-size: 33px;margin-top: 5%;
       margin-left: 10%;">{{p_title}}</p>
       <p style="    font-size: 26px;
       margin-left: 10%;
       color: #00bbd4;
       font-family: Bitter;
       
   "><span style="border: antiquewhite;
       /* border-radius: 9px; */
       border-radius: 25px;margin-top: 5%;
       border: 2px solid #00bbd4;padding: 11px;
    padding-left: 22px;
    padding-right: 22px;">Price: {{p_price}}</span></p>
    <p style="margin-left: 10%;
    font-size: 17px;margin-top: 10%;
    font-family: Bitter;">
      {{p_description}}
    </p>
    <p style="height: 40px;
    margin-left: 10%;
    margin-top: 5%;">
      <img src="{{like_button}}" style="height: 40px;" (click)="LikeBtnPress()"><span style="font-size: 20px;
      margin-left: 14px;
      /* margin-bottom: 8px; */
      /* margin-top: 20px; */
      font-family: Bitter;">{{p_likes}}</span>
    </p>
     </div>
     
  </div>

  <!-- <div class="col-4 right">
  
      <div class="uk-card uk-card-default uk-card-body" style="padding: 0px;">
        <img src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/a8cbfzvkkvhrfv9pr23y/air-max-270-mens-shoe-jKGdGN.jpg">
        <div style="text-align: center">
        <p style="text-align: center;text-align: center;
        padding: 14px;
        margin-top: -3px;color: #000;
          font-size: 100%;margin-bottom: -6px;font-family: Bitter;">Nike Back Sport Shoes</p>
          <span style="color: #00bbd4;
          font-size: 112%;font-family: Bitter;">$120</span><br>
          <img src="https://image.flaticon.com/icons/svg/148/148838.svg" style="width: 20px;width: 20px;
          margin-top: 10px;
          margin-bottom: 15px;
          margin-right: 8px;font-family: Bitter;"><span>4</span>
        </div> 
       </div>  
 
  </div> -->


</div>
</div>

<div class="footer">
  <p>Developeed By Rahul Sanap @2019</p>
</div>