<!--The content below is only a placeholder and can be replaced.-->

<nav class="uk-navbar-container" uk-navbar style="background: #00BCD4">
  <div class="uk-navbar-left">
    <span style="font-size: 26px;
    margin-left: 19px;
    color: white;
    font-family: Bitter;">Brand Name</span>
      <ul class="uk-navbar-nav" >
          <li class="uk-active" style="color: #fff"><a href="#">Home</a></li>
          
          <li>
             
          </li>
          
      </ul>

  </div>
</nav>
<router-outlet></router-outlet>
